@{
    ViewData["Title"] = "Humans";
}
<h2>
  @ViewData["Title"]
  <a asp-area=""
     asp-controller="Home"
     asp-action="AddHuman"
     class="btn btn-success btn-sm pull-right"
     role="button">Add</a>
</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Nick</th>
      <th>Gender</th>
      <th>Country Name</th>
      <th>Continent Name</th>
    </tr>
  </thead>

  <tbody>
    @foreach (var human in ViewData["allHumans"] as List<HumanDetails>) {
      <tr>
        <td>@human.Name</td>
        <td>@human.Surname</td>
        <td>@human.Nick</td>
        <td>@human.GenderName</td>
        <td>@human.CountryName</td>
        <td>@human.ContinentName</td>
      </tr>
      }
  </tbody>
</table>
